<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Welcome!</h1>
        <div class="admin">
          <a href="/add_user" class="btn">Add User</a>
          <a href="/assign_task" class="btn">Assign Task</a>
          <a href="/download_excel_file" class="btn">Export to Excel File</a>
        </div>
      </div>
    </div>
  </body>
</html>
